<div class="container">
    <nav>
       <ul class="mcd-menu">
        <li>
             <a class="nav-link <%= active_index %>" aria-current="page" href="/">
                 <img width="24" height="24" src="/images/house.png" />
                 <span class="ml-2">Dashboard</span>
             </a>
         </li>
         <li>
             <a class="nav-link <%= active_wallet %>" href="/wallet/keys_generator">
                 <img width="24" height="24" src="/images/wallet.png" />
                 <span class="ml-2">Wallet</span>
             </a>
             <ul>
                 <li><a href="/wallet/transaction">Transaction Initiation</a></li>
             </ul>
         </li>
         <li>
          <a class="nav-link <%= active_node %>" href="/node/network">
            <img width="24" height="24" src="/images/nodes.png" />
            <span class="ml-2">Node</span>
          </a>
          <ul>
             <li><a href="/node/personal_blockchain">My Personnal Blockchain</a></li>
             <li><a href="/node/transaction_page">New Transaction Gossip</a></li>
             <li><a href="/node/mempool">Mempool: Transaction to be mined</a></li>
         </ul>
        </li>
         <li>
           <a class="nav-link <%= active_miner%>" href="/miners">
             <img width="24" height="24" src="/images/bitcoin.png" />
             <span class="ml-2">Miners</span>
           </a>
         </li>
         <li>
           <a class="nav-link <%= active_economy%>" href="/economy">
             <img width="24" height="24" src="/images/stats.png" />
             <span class="ml-2">Economy</span>
           </a>
         </li>
       </ul>
    </nav>
 </div>