<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BasicAuth">
    <meta name="author" content="siddub">

    <title>Blockchain Miner Simulator</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" crossorigin="anonymous">
    <script>
      function insert(i) {

      }
    </script>
</head>

<body>
    <div id="mempool">
        <h2>Mempool</h2>
        <table id="mempool" class="table table-hover table-bordered text-table">
            <thead>
                <tr>
                    <th scope="col">Tx Nr</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Fee</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Signature</th>
                    <th scope="col">Insert</th>
                </tr>
            </thead>
            <tbody>
                <% if (mempool.length > 0) { %>
                    <% for (var i = 0; i < mempool.length; i++){ %>
                        <tr>
                            <td>
                                <%= mempool[i].TxNr %>
                            </td>
                            <td>
                                <%= mempool[i].amount %>
                            </td>
                            <td>
                                <%= mempool[i].fee %>
                            </td>
                            <td>
                                <%= mempool[i].from %>
                            </td>
                            <td>
                                <%= mempool[i].to %>
                            </td>
                            <td>
                                <%= mempool[i].signature %>
                            </td>
                            <td>
                              <form action="/addtoblock" method="POST">
                                <input type="hidden" name="transaction" value= "<%= mempool[i] %>" />
                                  <button type="submit" name="insert">Insert</button>
                              </form>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                <% if (mempool.length == 0) { %>
                    <tr>
                        <td colspan="7">
                            Empty
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="miner">
    <form action="/miner" method="post">
        <h2>Miner</h2>
        <input name="Block" type="text" class="form-control" placeholder="Block #" autofocus="true"/>
        <input name="Nonce" type="text" class="form-control" placeholder="<%= nonce || 'nonce' %>"/>

        <div style="text-align:center;margin-bottom:10px;margin-top:15px">
          <h4>Transactions</h4>
          <table id="transactions" class="table table-hover table-bordered text-table">
              <thead>
                  <tr>
                      <th scope="col">Tx Nr</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Fee</th>
                      <th scope="col">From</th>
                      <th scope="col">To</th>
                      <th scope="col">Signature</th>
                  </tr>
              </thead>
              <tbody>
                  <% if (transactions.length > 0) { %>
                      <% for (var i = 0; i < transactions.length; i++){ %>
                          <tr>
                              <td>
                                  <%= transactions[i].TxNr %>
                              </td>
                              <td>
                                  <%= transactions[i].amount %>
                              </td>
                              <td>
                                  <%= transactions[i].fee %>
                              </td>
                              <td>
                                  <%= transactions[i].from %>
                              </td>
                              <td>
                                  <%= transactions[i].to %>
                              </td>
                              <td>
                                  <%= transactions[i].signature %>
                              </td>
                          </tr>
                      <% } %>
                  <% } %>
                  <% if (transactions.length == 0) { %>
                      <tr>
                          <td colspan="6">
                              Empty
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
        </div>
        <input name="Prev" type="text" class="form-control" placeholder="Previous block hash"/>
        <input name="Hash" type="text" class="form-control" disabled placeholder="<%= hash || 'Block hash' %>"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Mine</button>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:20%
}
</style>
</html>
